<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<head>
  <link th:href="@{/css/common/form.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common/table.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="content" layout:fragment="content">

  <div class="title">
    <h1 class="title">SIGN IN</h1>
  </div>

  <form class="form" type="signUp" method="post" th:object="${form}" th:action="@{/sign-in}">
    <table>

      <!-- Account name -->
      <tr class="label">
        <td class="label"><p>Account name</p></td>
        <td><input class="text" type="text" name="accountName" th:value="*{accountName}" autocomplete="off"
                   th:classappend="${#fields.hasErrors('accountName')} ? error"></td>
      </tr>

      <!-- Password -->
      <tr class="label">
        <td class="label"><p>Password</p></td>
        <td><input class="text" type="password" name="password"
                   th:classappend="${#fields.hasErrors('password') OR
                   #fields.hasGlobalErrors()} ? error"></td>
      </tr>

    </table>

    <div class="buttonBack" style="normal">
      <input class="button" type="submit" value="Sign in">
    </div>
  </form>

</div>

</body>
</html>