<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<head>
  <link th:href="@{/css/common/form.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common/table.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="content" layout:fragment="content">

  <div class="title">
    <h1 class="title">TOP PAGE</h1>
  </div>

  <div th:if="${is_signed_in}">
    <h2>Hello <span color="red" th:text="${account_name}"></span>!</h2>
    <br>
    <p>Signed out in <span th:text="${until_expire_seconds}"></span> seconds.</p>
  </div>

</div>

</body>
</html>